/*---------------------------
      01. profile.html
---------------------------*/


.profile{   /*profile을 클래스라고 한다.*/
    width: 100px; 
    display: block; 
    margin: auto; /* margin: auto;로 가운데 정렬 해준다 */
}

.title{
    font-size: 16px; 
    font-family: 'nanumsquare'; 
    color: red; 
    text-align: center; /*text-align: center;으로 가운데 정렬 해준다*/
}

p { /* 점을 안찍으면 태그에 기본 스타일을 줄 수 있음*/
    font-size: 16px;
    text-align: center;
}

#special{ /*id로 스타일을 줄 수 있음. id로 선언한게 class보다 우선순위가 높음*/ 
    font-size: 16px;
} 

.description{
    width: 400px;
    background-color: sienna;
    margin : 50px;   /*바깥 여백*/
    padding : 30px;  /*안쪽 여백*/
    border : 1px solid black; /*테두리 두께(px), 형태(실선,점선 등), 색*/
    color:white;
    display: block; /*한행을 전부 차지해주세요*/
    margin: auto;
    border-radius: 5px;
}

/*---------------------------
      02. layout.html
---------------------------*/

.container {
    width: 800px; /*가로폭이 800px*/
}

.header {
    width: 100%;
    height: 50px;
    background-color: slateblue;
}

.left {
    width: 20%;
    height: 500px;
    background-color: tomato;
    float: left; /*float 박스는 공중에 떠서 정렬이 된다. 공간을 차지하지 않음*/
}

.right {
    width: 80%;
    height: 500px;
    background-color: wheat;
    float: left; 
}

.footer {
    width: 100%;
    height: 50px;
    background-color: grey;
    clear : both; /*float라는 속성을 무시하고 div박스를 정상적으로 출력해라*/
}