.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.left {
    width: 20%;
    height: 500px;
    background-color: cadetblue;
    display: inline-block; /*옆으로 배치할 수 있다. text에 반응함*/
}

.right {
    width: 70%;
    height: 500px;
    background-color: coral;
    display: inline-block;
    vertical-align: top; /*글자등의 수직정렬 기준점*/
}