div,
input,
textarea {
    box-sizing: border-box;
    /*=padding/border까지를 박스의 실제 폭으로 해줘*/
}

body {
    margin: 0;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url("../public/images/ddm.jpg");
    background-size: cover;
    /*사이즈가 축소가 되도 back-ground가 더이상 줄지않음. 반응형에서 씀*/
    /*background-size: contain; /*그림이 잘리지 않게 함*/
    background-repeat: no-repeat;
    /*창을 줄이면 반복해서 나오는 서진을 막아줌*/
    background-position: center;
    /*백그라운드가 중앙에서부터 채워짐*/
    padding: 20px;
}

.main-title {
    color: white;
    text-align: center;
    font-size: 30px;
}

.main-title-box {
    margin-top: 150px;
    text-align: center;
}

.main-content {
    padding: 20px;
    color: white;
    font-size: 18px;
}

.main-button {
    padding: 10px;
    font-size: 18px;
    font-family: 'nanumsquare';
    background-color: white;
    border: none;
    display: block;
    /*버튼 가운데 정렬 :display 블록과 마진 오토 해주기*/
    margin: auto;
}

.position {
    /*좌표속성 : top/bottom/left/right */
    position: relative;
    /*좌표속성은 단독으로 못쓰임. 포지션으로 기준점을 미리 정해야함*/
    top: 30px;
    /*position:relative는 원래 위치에서 부터 좌표를 변경시켜줌*/
}
/*position:fixed는 스크롤이 되어도 화면에 고정됨*/
/*position:absolute는 기준점이 내부모 박스
  기준점으로 삼을 부모에게 position:relative를 해주면 적용 
  위의 글씨 높이의 영향을 받지 않는 버튼을 만들고 심다면 그것은 absolute*/
/*absolute 가운데 정렬하려면 left:0; right:0; margin:auto; width 5가지 설정 필요*/

.explain-box {
    width: 80%;
    /*반응형을 가장쉽게 만드는 방법 width를 80%*/
    max-width: 600px;
    /*최대폭을 지정해줘 사이즈가 엄청커져도 제한됨. 반응형에 많이쓰임*/
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -30px;
    box-sizing: border-box;
    /*박스의 폭에 padding/border 포함함. 가로폭 문제 해결 */
}

.sample-input {
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

input[type=text] {
    /*타입이 텍스트인 부분만. 속성명 = 속성값*/
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.form-background {
    margin-top: 150px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    margin-bottom: 400px;
}

.form-white {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background-color: white;
    margin: auto;
}

.form-input {
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    width: 100%;

}

.form-half {
    width: 50%;
    float: left;
    padding: 10px;
}

.form-whole {
    padding: 10px;
}

.form-submit {
    width: 200px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background-color: darkorange;
    color: white;
    font-size: 18px;
    margin-left: auto;
    display: block;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    /*flex 내부 정중앙정렬 궁극기*/
    flex-direction: row;
    height: 70px;
    align-items: center;
    /*상하가운데정렬 개꿀*/
}

.menu-logo {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.menu-item {
    padding-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /*화면폭이 768이하일때(조건) 적용할 CSS 작성*/
    /*CSS에 조건을 주고 싶을 때 쓰는 media query*/
    .main-title {
        color: white;
        text-align: center;
        font-size: 20px;
    }
}

